# This is the Notebook to get the Data from the CBS API

In [1]:
import pandas as pd
import cbsodata as cbs
import re
from glob import glob
import pyreadstat
import numpy as np
import os

In [82]:
# This function takes the unique categories of the identifier columns, puts their values in new columns and deletes the original column

def split_column(df, values, category, region, year):
    if type(values) is list:
        for x in df[f'{category}'].unique():
            for v in values:
                df[f'{x}_{v}'] = np.where(df[f'{category}'] == x, df[f'{v}'], None)
        for v in values:
            df = df.drop([f'{v}'], axis=1)
    if type(values) is str:
        for x in df[f'{category}'].unique():
            df[f'{x}_{values}'] = np.where(df[f'{category}'] == x, df[f'{values}'], None)
        df = df.drop([f'{values}'], axis=1)
    df = df.groupby([f'{region}', f'{year}']).agg(max).drop([f'{category}'], axis=1)
    return df

In [83]:
# This function takes the unique categories of the identifier columns, puts their values in new columns and deletes the original column

def split_column2(df, values, category1, category2, region, year):
    if type(values) is list:
        for x in df[f'{category1}'].unique():
            for y in df[f'{category2}'].unique():
                for v in values:
                    df[f'{x}_{y}_{v}'] = np.where((df[f'{category2}'] == y) & (df[f'{category1}'] == x), df[f'{v}'], None)
        for v in values:
            df = df.drop([f'{v}'], axis=1)
    if type(values) is str:
        for x in df[f'{category1}'].unique():
            for y in df[f'{category2}'].unique():
                df[f'{x}_{y}_{values}'] = np.where((df[f'{category2}'] == y) & (df[f'{category1}'] == x), df[f'{values}'], None)
        df = df.drop([f'{values}'], axis=1)
    df = df.groupby([f'{region}', f'{year}']).agg(max).drop([f'{category1}', f'{category2}'], axis=1)
    return df

## Downloading Population number

In [44]:
metadata = pd.DataFrame(cbs.get_meta('37259ned', 'DataProperties'))
metadata

,odata.type,ID,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType
0,Cbs.OData.Dimension,0,0.0,NaN,Dimension,Geslacht,Geslacht,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cbs.OData.GeoDimension,1,1.0,NaN,GeoDimension,RegioS,Regio's,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cbs.OData.TimeDimension,2,2.0,NaN,TimeDimension,Perioden,Perioden,,NaN,True,NaN,NaN,NaN,NaN,NaN
3,Cbs.OData.Topic,3,3.0,NaN,Topic,BevolkingOp1Januari_1,Bevolking op 1 januari,Bevolking:\r\nDe inwoners van een bepaald gebi...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
4,Cbs.OData.Topic,4,4.0,NaN,Topic,Bevolkingsdichtheid_2,Bevolkingsdichtheid,Bevolking op 1 januari per km2 oppervlakte lan...,NaN,NaN,Long,aantal,0.0,Impossible,Relative
5,Cbs.OData.TopicGroup,5,NaN,NaN,TopicGroup,,Levend geboren kinderen,Levend geboren kind:\r\nKind dat na geboorte e...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Cbs.OData.Topic,6,5.0,5.0,Topic,LevendGeborenKinderen_3,Levend geboren kinderen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
7,Cbs.OData.Topic,7,6.0,5.0,Topic,LevendGeborenKinderenRelatief_4,"Levend geboren kinderen, relatief",Levend geboren kinderen per duizend van de gem...,NaN,NaN,Double,promille,1.0,Impossible,Relative
8,Cbs.OData.TopicGroup,8,NaN,NaN,TopicGroup,,Overledenen,Overledene:\r\nPersoon die is overleden waarbi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Cbs.OData.Topic,9,7.0,8.0,Topic,Overledenen_5,Overledenen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
10,Cbs.OData.Topic,10,8.0,8.0,Topic,OverledenenRelatief_6,"Overledenen, relatief",Overledenen per duizend van de gemiddelde bevo...,NaN,NaN,Double,promille,1.0,Impossible,Relative
11,Cbs.OData.Topic,11,9.0,NaN,Topic,Geboorteoverschot_7,Geboorteoverschot,Het aantal levend geboren kinderen min het aan...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
12,Cbs.OData.TopicGroup,12,NaN,NaN,TopicGroup,,Vestiging in de gemeente,Personen die in een gemeente komen wonen na ve...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Cbs.OData.Topic,13,10.0,12.0,Topic,TotaalVestiging_8,Totaal vestiging,Totaal in de gemeente gevestigde personen.\r\n...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
14,Cbs.OData.Topic,14,11.0,12.0,Topic,TotaalVestigingRelatief_9,"Totaal vestiging, relatief",Totaal in de gemeente gevestigde personen per ...,NaN,NaN,Double,promille,1.0,Impossible,Relative
15,Cbs.OData.Topic,15,12.0,12.0,Topic,Immigratie_10,Immigratie,Vestiging van personen vanuit het buitenland i...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
16,Cbs.OData.Topic,16,13.0,12.0,Topic,UitAndereGemeente_11,Uit andere gemeente,Personen die verhuizen waarbij het oude adres ...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
17,Cbs.OData.TopicGroup,17,NaN,NaN,TopicGroup,,Vertrek uit de gemeente,Personen die verhuizen naar een andere gemeent...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Cbs.OData.Topic,18,14.0,17.0,Topic,TotaalVertrekInclusiefCorrecties_12,Totaal vertrek inclusief correcties,Totaal uit de gemeente vertrokken personen inc...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
19,Cbs.OData.Topic,19,15.0,17.0,Topic,TotaalVertrekInclusiefCoRelatief_13,"Totaal vertrek inclusief co..., relatief",Totaal uit de gemeente vertrokken personen inc...,NaN,NaN,Double,promille,1.0,Impossible,Relative
20,Cbs.OData.Topic,20,16.0,17.0,Topic,EmigratieInclusiefAdministratieveC_14,Emigratie inclusief administratieve c...,Emigratie inclusief het saldo van de administr...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
21,Cbs.OData.Topic,21,17.0,17.0,Topic,SaldoAdministratieveCorrecties_15,Saldo administratieve correcties,Tot 1977 heeft het CBS geen informatie over ad...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
22,Cbs.OData.Topic,22,18.0,17.0,Topic,NaarAndereGemeente_16,Naar andere gemeente,Personen die verhuizen waarbij het nieuwe adre...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
23,Cbs.OData.Topic,23,19.0,NaN,Topic,VestigingsoverschotInclusiefCorrecties_17,Vestigingsoverschot inclusief correcties,Vestigingsoverschot inclusief het saldo van de...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
24,Cbs.OData.TopicGroup,24,NaN,NaN,TopicGroup,,Bevolkingsgroei,De toe- of afname van de bevolking.\r\nInclusi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Cbs.OData.Topic,25,20.0,24.0,Topic,TotaleGroei_18,Totale groei,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
26,Cbs.OData.Topic,26,21.0,24.0,Topic,TotaleGroeiRelatief_19,"Totale groei, relatief",Bevolkingsgroei per duizend van de bevolking o...,NaN,NaN,Double,promille,1.0,Impossible,Relative
27,Cbs.OData.Topic,27,22.0,NaN,Topic,BevolkingOp31December_20,Bevolking op 31 december,Bevolking:\r\nDe inwoners van een bepaald gebi...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute

In [45]:
data = pd.DataFrame(cbs.get_data('37259ned', select = (['BevolkingOp1Januari_1', 'RegioS', 'Perioden', 'Geslacht'])))

In [47]:
val = 'BevolkingOp1Januari_1'
cat = 'Geslacht'
reg = 'RegioS'
year = 'Perioden'
data = split_column(data, val, cat, reg, year)

In [48]:
data.to_csv('Population.csv')

## Downloading Fertility Data

In [8]:
metadata = pd.DataFrame(cbs.get_meta('37201', 'Perioden'))
metadata

         Key Title Description      Status
0   1988JJ00  1988        None  Definitief
1   1989JJ00  1989        None  Definitief
2   1990JJ00  1990        None  Definitief
3   1991JJ00  1991        None  Definitief
4   1992JJ00  1992        None  Definitief
5   1993JJ00  1993        None  Definitief
6   1994JJ00  1994        None  Definitief
7   1995JJ00  1995        None  Definitief
8   1996JJ00  1996        None  Definitief
9   1997JJ00  1997        None  Definitief
10  1998JJ00  1998        None  Definitief
11  1999JJ00  1999        None  Definitief
12  2000JJ00  2000        None  Definitief
13  2001JJ00  2001        None  Definitief
14  2002JJ00  2002        None  Definitief
15  2003JJ00  2003        None  Definitief
16  2004JJ00  2004        None  Definitief
17  2005JJ00  2005        None  Definitief
18  2006JJ00  2006        None  Definitief
19  2007JJ00  2007        None  Definitief
20  2008JJ00  2008        None  Definitief
21  2009JJ00  2009        None  Definitief
22  2010JJ00  2010        None  Definitief
23  2011JJ00  2011        None  Definitief
24  2012JJ00  2012        None  Definitief
25  2013JJ00  2013        None  Definitief
26  2014JJ00  2014        None  Definitief
27  2015JJ00  2015        None  Definitief
28  2016JJ00  2016        None  Definitief
29  2017JJ00  2017        None  Definitief
30  2018JJ00  2018        None  Definitief
31  2019JJ00  2019        None  Definitief
32  2020JJ00  2020        None  Definitief

In [35]:
data = pd.DataFrame(cbs.get_data('37201', select = (['LevendGeborenKinderenRelatief_2', 'RegioS', 'Perioden'])))

In [41]:
# Making RegioS and Perioden the index values as in other dataframes

data.index = pd.MultiIndex.from_arrays(data[['RegioS', 'Perioden']].values.T, names=['RegioS', 'Perioden'])
data = data.drop(['RegioS', 'Perioden'], axis=1)

KeyError: "None of [Index(['RegioS', 'Perioden'], dtype='object')] are in the [columns]"

In [40]:
data.to_csv('Fertility.csv')

## Downloading Unemployment Data

In [9]:
# Downloading data for unemployment
metadata = pd.DataFrame(cbs.get_meta('84961NED', 'Perioden'))
metadata

         Key Title Description CategoryGroupID
0   2003JJ00  2003                        None
1   2004JJ00  2004                        None
2   2005JJ00  2005                        None
3   2006JJ00  2006                        None
4   2007JJ00  2007                        None
5   2008JJ00  2008                        None
6   2009JJ00  2009                        None
7   2010JJ00  2010                        None
8   2011JJ00  2011                        None
9   2012JJ00  2012                        None
10  2013JJ00  2013                        None
11  2014JJ00  2014                        None
12  2015JJ00  2015                        None
13  2016JJ00  2016                        None
14  2017JJ00  2017                        None
15  2018JJ00  2018                        None
16  2019JJ00  2019                        None
17  2020JJ00  2020        None            None

In [40]:
data = pd.DataFrame(cbs.get_data('84961NED',
                                      select = ['Werkloosheidspercentage_13', 'RegioS',
                                                'Perioden', 'Persoonskenmerken']))
data = data[(data['Persoonskenmerken'] == 'Totaal personen') |
            (data['Persoonskenmerken'] == 'Geslacht: mannen') |
            (data['Persoonskenmerken'] == 'Geslacht: vrouwen')]

In [23]:
data['Geslacht: mannen_Werkloosheidspercentage_13'] = np.where(data['Persoonskenmerken'] == 'Geslacht: mannen', data['Werkloosheidspercentage_13'], None)
data = data.drop(['Werkloosheidspercentage_13'], axis=1)
data = data.groupby(['RegioS', 'Perioden']).agg(max).drop(['Persoonskenmerken'], axis=1)

In [42]:
val = 'Werkloosheidspercentage_13'
cat = 'Persoonskenmerken'
reg = 'RegioS'
year = 'Perioden'
data = split_column(data, val, cat, reg, year)

In [44]:
data.to_csv('Unemployment.csv')

## Download immigration change data

alternatives:

84974NED - current, from 2011

60056ned - current, from 1988

In [14]:
metadata = pd.DataFrame(cbs.get_meta('60056ned', 'Perioden'))
metadata

         Key Title Description      Status
0   1988JJ00  1988        None  Definitief
1   1989JJ00  1989        None  Definitief
2   1990JJ00  1990        None  Definitief
3   1991JJ00  1991        None  Definitief
4   1992JJ00  1992        None  Definitief
5   1993JJ00  1993        None  Definitief
6   1994JJ00  1994        None  Definitief
7   1995JJ00  1995        None  Definitief
8   1996JJ00  1996        None  Definitief
9   1997JJ00  1997        None  Definitief
10  1998JJ00  1998        None  Definitief
11  1999JJ00  1999        None  Definitief
12  2000JJ00  2000        None  Definitief
13  2001JJ00  2001        None  Definitief
14  2002JJ00  2002        None  Definitief
15  2003JJ00  2003        None  Definitief
16  2004JJ00  2004        None  Definitief
17  2005JJ00  2005        None  Definitief
18  2006JJ00  2006        None  Definitief
19  2007JJ00  2007        None  Definitief
20  2008JJ00  2008        None  Definitief
21  2009JJ00  2009        None  Definitief
22  2010JJ00  2010        None  Definitief
23  2011JJ00  2011        None  Definitief
24  2012JJ00  2012        None  Definitief
25  2013JJ00  2013        None  Definitief
26  2014JJ00  2014        None  Definitief
27  2015JJ00  2015        None  Definitief
28  2016JJ00  2016        None  Definitief
29  2017JJ00  2017        None  Definitief
30  2018JJ00  2018        None  Definitief
31  2019JJ00  2019        None  Definitief

In [6]:
print(metadata['Description'][4])

Migratie per duizend van de gemiddelde bevolking in het waarnemingsjaar.

Migratie:
Verhuizing van personen van of naar een ander woonadres.

Bevolking:
De inwoners van een bepaald gebied.
In de bevolkingsaantallen zijn uitsluitend personen begrepen die zijn opgenomen in het bevolkingsregister van een Nederlandse gemeente.
In principe wordt iedereen die voor onbepaalde tijd in Nederland woont, opgenomen in het bevolkingsregister van de woongemeente.
Personen die tot de bevolking van Nederland behoren, maar voor wie geen vaste woonplaats valt aan te wijzen, zijn opgenomen in het bevolkingsregister van de gemeente 's-Gravenhage.
In de bevolkingsregisters zijn niet opgenomen de in Nederland wonende personen waarvoor uitzonderingsregels gelden met betrekking tot opneming in de bevolkingsregisters (bijvoorbeeld diplomaten en NAVO militairen) en personen die niet legaal in Nederland verblijven.

Verwerking grenswijziging Rotterdam en Rozenburg in 2010
Per 18 maart 2010 is de gemeente Rozenburg opgeheven en in zijn geheel overgegaan naar de gemeente Rotterdam.
Voor de overzichtelijkheid zijn de cijfers met betrekking tot geboorte, sterfte, buitenlandse migratie en verhuizingen in Rozenburg voor geheel 2010 bij Rotterdam geteld.
Voor Rozenburg zijn dus geen gegevens over de bevolkingsontwikkeling in 2010 beschikbaar.
Voor de relatieve migratiecijfers van Rotterdam is steeds gerelateerd aan de bevolkingsaantallen van Rotterdam en Rozenburg samen.

In [12]:
# for 60056ned

# take only migratiesaldo from Migratie
filters = ["Nationaliteit eq 'NAT9489'", # total non-dutch
           "Nationaliteit eq 'NAT9275'", # total EU excl. Dutch
           "Nationaliteit eq 'NAT9482'", # total Western excl. Dutch
           "Nationaliteit eq 'NAT9483'"] # total Non-Western

data = pd.DataFrame()
for x in filters:
    data = data.append(pd.DataFrame(cbs.get_data('60056ned',
                                          select = ['TotaalMannen_22', 'RegioS', 'Perioden',
                                                    'TotaalVrouwen_34', 'EuropeseUnieExclusiefNederland_81',
                                                   'TotaalNietWesters_87', 'OverigeWesterseLanden_95', 
                                                   'NietNederlands_66', 'NietNederlandseVrouwen_69'],
                                         filters =  x)))

In [13]:
data

,TotaalMannen_22,RegioS,Perioden,TotaalVrouwen_34,EuropeseUnieExclusiefNederland_81,TotaalNietWesters_87,OverigeWesterseLanden_95,NietNederlands_66,NietNederlandseVrouwen_69
0,48678.0,Nederland,1988,42560.0,15517.0,45300.0,24952.0,32019.0,26243.0
1,53782.0,Nederland,1989,45132.0,15645.0,50505.0,26773.0,36699.0,28686.0
2,65336.0,Nederland,1990,52014.0,18578.0,61483.0,32368.0,46995.0,34269.0
3,66888.0,Nederland,1991,53361.0,20164.0,60609.0,35930.0,48379.0,35958.0
4,63141.0,Nederland,1992,53785.0,21464.0,53139.0,40208.0,45367.0,37655.0
...,...,...,...,...,...,...,...,...,...
141915,NaN,Centraal persoonsregister (CPR),2015,NaN,NaN,NaN,NaN,NaN,NaN
141916,NaN,Centraal persoonsregister (CPR),2016,NaN,NaN,NaN,NaN,NaN,NaN
141917,NaN,Centraal persoonsregister (CPR),2017,NaN,NaN,NaN,NaN,NaN,NaN
141918,NaN,Centraal persoonsregister (CPR),2018,NaN,NaN,NaN,NaN,NaN,NaN
141919,NaN,Centraal persoonsregister (CPR),2019,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
filters = ["Nationaliteit eq 'NAT9489'", # total non-dutch
           "Nationaliteit eq 'NAT9275'", # total EU excl. Dutch
           "Nationaliteit eq 'NAT9482'", # total Western excl. Dutch
           "Nationaliteit eq 'NAT9483'"] # total Non-Western

data = pd.DataFrame()
for x in filters:
    data = data.append(pd.DataFrame(cbs.get_data('84974NED',
                                          select = ['Geslacht', 'RegioS', 'Perioden',
                                                    'MigratiesaldoInclusiefAdministratie_3', 'Nationaliteit'],
                                         filters =  x)))

In [53]:
data

,Geslacht,RegioS,Perioden,MigratiesaldoInclusiefAdministratie_3,Nationaliteit
0,Totaal mannen en vrouwen,Nederland,2010,46191.0,Totaal niet-Nederlandse nationaliteit
1,Totaal mannen en vrouwen,Nederland,2011,48243.0,Totaal niet-Nederlandse nationaliteit
2,Totaal mannen en vrouwen,Nederland,2012,34916.0,Totaal niet-Nederlandse nationaliteit
3,Totaal mannen en vrouwen,Nederland,2013,39271.0,Totaal niet-Nederlandse nationaliteit
4,Totaal mannen en vrouwen,Nederland,2014,55905.0,Totaal niet-Nederlandse nationaliteit
...,...,...,...,...,...
185395,Vrouwen,Zwolle,2015,1.0,Niet-westerse nationaliteiten
185396,Vrouwen,Zwolle,2016,-1.0,Niet-westerse nationaliteiten
185397,Vrouwen,Zwolle,2017,0.0,Niet-westerse nationaliteiten
185398,Vrouwen,Zwolle,2018,0.0,Niet-westerse nationaliteiten
185399,Vrouwen,Zwolle,2019,2.0,Niet-westerse nationaliteiten

In [54]:
val = 'MigratiesaldoInclusiefAdministratie_3'
cat1 = 'Geslacht'
cat2 = 'Nationaliteit'
reg = 'RegioS'
year = 'Perioden'
data = split_column2(data, val, cat1, cat2, reg, year)

In [55]:
data.to_csv('Immigration.csv')

## Downloading total immigrant numbers

alternatives
84910NED - current, from 2010
84727NED - current, from 1995

In [58]:
metadata = pd.DataFrame(cbs.get_meta('84727NED', 'DataProperties'))
metadata

,odata.type,ID,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType
0,Cbs.OData.Dimension,0,0,None,Dimension,Geslacht,Geslacht,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cbs.OData.Dimension,1,1,None,Dimension,Leeftijd,Leeftijd,Het aantal gehele jaren dat op 1 januari van h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cbs.OData.Dimension,2,2,None,Dimension,Nationaliteit,Nationaliteit,Het wettelijk onderdaan zijn van een bepaalde ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cbs.OData.GeoDimension,3,3,None,GeoDimension,RegioS,Regio's,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cbs.OData.TimeDimension,4,4,None,TimeDimension,Perioden,Perioden,,NaN,False,NaN,NaN,NaN,NaN,NaN
5,Cbs.OData.Topic,5,5,None,Topic,Bevolking_1,Bevolking,De inwoners van een bepaald gebied.\r\n\r\nIn ...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute

In [19]:
print(metadata['Description'][2])

Persoon met een migratieachtergrond

Persoon van wie ten minste n ouder in het buitenland is geboren.

In [56]:
filters = ["Migratieachtergrond eq '2012605'", # total non-dutch
           "Migratieachtergrond eq 'H007935'", # total EU excl. Dutch
           "Migratieachtergrond eq '2012655'", # total Western excl. Dutch
           "Migratieachtergrond eq '2012657'"] # total Non-Western

data = pd.DataFrame()
for x in filters:
    data = data.append(pd.DataFrame(cbs.get_data('84910NED',
                                          select = ['Geslacht', 'RegioS', 'Perioden', 'Migratieachtergrond',
                                                    'Generatie', 'BevolkingOp1Januari_1'],
                                         filters =  x)))

In [58]:
# Filter so that only first generation and only data on men and women is recorded
data = data[(data['Generatie'] == '1e generatie migratieachtergrond') & 
             ((data['Geslacht'] == 'Mannen') | 
             (data['Geslacht'] == 'Vrouwen'))].drop(['Generatie'], axis=1)

In [60]:
val = 'BevolkingOp1Januari_1'
cat1 = 'Geslacht'
cat2 = 'Migratieachtergrond'
reg = 'RegioS'
year = 'Perioden'
data = split_column2(data, val, cat1, cat2, reg, year)

In [61]:
data.to_csv('Total_Immigration.csv')

## Downloading Income Data

alternatives:
80366ned is archive data, only has mean, from 2005 to 2014
84867NED is current, has mean and median from 2011
80500ned is archive, has mean and median from 2005 to 2014

In [24]:
metadata = pd.DataFrame(cbs.get_meta('80500ned', 'DataProperties'))
metadata

,odata.type,ID,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType
0,Cbs.OData.Dimension,0,0.0,NaN,Dimension,Populatie,Populatie,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cbs.OData.Dimension,1,1.0,NaN,Dimension,Persoonskenmerken,Persoonskenmerken,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cbs.OData.GeoDimension,2,2.0,NaN,GeoDimension,RegioS,Regio's,,2011.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Cbs.OData.TimeDimension,3,3.0,NaN,TimeDimension,Perioden,Perioden,None,NaN,False,NaN,NaN,NaN,NaN,NaN
4,Cbs.OData.TopicGroup,4,NaN,NaN,TopicGroup,,Personen met inkomen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cbs.OData.Topic,5,4.0,4.0,Topic,AantalPersonen_1,Aantal personen,"Een persoon heeft inkomen, indien er sprake is...",NaN,NaN,Double,x 1 000,1.0,Impossible,Absolute
6,Cbs.OData.Topic,6,5.0,4.0,Topic,RelatiefAantalPersonen_2,Relatief aantal personen,Aantal personen met (heel jaar) inkomen in pro...,NaN,NaN,Double,%,1.0,Impossible,Relative
7,Cbs.OData.Topic,7,6.0,NaN,Topic,GemiddeldPersoonlijkInkomen_3,Gemiddeld persoonlijk inkomen,Het persoonlijk inkomen omvat de volgende best...,NaN,NaN,Double,1 000 euro,1.0,Impossible,Relative
8,Cbs.OData.Topic,8,7.0,NaN,Topic,MediaanPersoonlijkInkomen_4,Mediaan persoonlijk inkomen,Het mediane inkomen is gelijk aan het middelst...,NaN,NaN,Double,1 000 euro,1.0,Impossible,Relative

In [15]:
print(metadata['Description'][4])

Met ingang van het RIO 2010 zijn de resultaten gebaseerd op integrale waarneming. De eerder gepubliceerde resultaten van het RIO (2005  2009 voor methodewijziging) zijn gebaseerd op een steekproef van ca. 2 miljoen huishoudens.
Om vergelijking tussen 2010 integraal en 2009 steekproef mogelijk te maken zijn voor 2009 na methodewijziging eveneens op basis van integrale waarneming uitkomsten gepubliceerd waardoor voor het jaar 2009 (breukjaar) zowel uitkomsten op basis van steekproef als integrale waarneming zijn opgenomen.

In [62]:
data = pd.DataFrame(cbs.get_data('84867NED',
                                      select = ['Geslacht', 'RegioS', 'Perioden',
                                                'Persoonskenmerken', 'GemiddeldGestandaardiseerdInkomen_4',
                                                'MediaanGestandaardiseerdInkomen_5'],
                                     filters = "Persoonskenmerken eq 'T009002'"))

In [63]:
val = ['GemiddeldGestandaardiseerdInkomen_4', 'MediaanGestandaardiseerdInkomen_5']
cat = 'Geslacht'
reg = 'RegioS'
year = 'Perioden'
data = split_column(data, val, cat, reg, year)

In [65]:
data.to_csv('Income.csv')

## Downloading Marriage Data

In [13]:
metadata = pd.DataFrame(cbs.get_meta('37890', 'DataProperties'))
metadata

,odata.type,ID,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType
0,Cbs.OData.GeoDimension,0,0.0,NaN,GeoDimension,RegioS,Regio's,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cbs.OData.TimeDimension,1,1.0,NaN,TimeDimension,Perioden,Perioden,None,NaN,False,NaN,NaN,NaN,NaN,NaN
2,Cbs.OData.TopicGroup,2,NaN,NaN,TopicGroup,,Huwen,Trendbreuk huwelijkssluitingen en huwende pers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Cbs.OData.TopicGroup,3,NaN,2.0,TopicGroup,,Huwelijkssluitingen,Trendbreuk huwelijkssluitingen en huwende pers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Cbs.OData.Topic,4,2.0,3.0,Topic,TotaalHuwelijkssluitingen_1,Totaal huwelijkssluitingen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
5,Cbs.OData.Topic,5,3.0,3.0,Topic,BeidenWonenInHuwelijksgemeente_2,Beiden wonen in huwelijksgemeente,Huwelijksluitingen waarvan beide partners staa...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
6,Cbs.OData.Topic,6,4.0,3.0,Topic,AlleenManWoontInHuwelijksgemeente_3,Alleen man woont in huwelijksgemeente,Huwelijkssluitingen waarvan alleen de man staa...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
7,Cbs.OData.Topic,7,5.0,3.0,Topic,AlleenVrouwWoontInHuwelijksgemeente_4,Alleen vrouw woont in huwelijksgemeente,Huwelijkssluitingen waarvan alleen de vrouw st...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
8,Cbs.OData.Topic,8,6.0,3.0,Topic,BeidenWonenNietInHuwelijksgemeente_5,Beiden wonen niet in huwelijksgemeente,Huwelijkssluitingen waarvan beide partners NIE...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
9,Cbs.OData.TopicGroup,9,NaN,2.0,TopicGroup,,Huwende personen,Trendbreuk huwelijkssluitingen en huwende pers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Cbs.OData.Topic,10,7.0,9.0,Topic,HuwendeMannen_6,Huwende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
11,Cbs.OData.Topic,11,8.0,9.0,Topic,HuwendeMannenRelatief_7,"Huwende mannen, relatief",Huwende mannen per duizend van het gemiddeld a...,NaN,NaN,Double,per 1 000 niet-gehuwde mannen,1.0,Impossible,Relative
12,Cbs.OData.Topic,12,9.0,9.0,Topic,HuwendeVrouwen_8,Huwende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
13,Cbs.OData.Topic,13,10.0,9.0,Topic,HuwendeVrouwenRelatief_9,"Huwende vrouwen, relatief",Huwende vrouwen per duizend van het gemiddeld ...,NaN,NaN,Double,per 1 000 niet-gehuwde vrouwen,1.0,Impossible,Relative
14,Cbs.OData.TopicGroup,14,NaN,9.0,TopicGroup,,Naar geslacht en leeftijd (31 december),Huwende personen naar geslacht en leeftijd (op...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Cbs.OData.TopicGroup,15,NaN,14.0,TopicGroup,,Mannen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Cbs.OData.Topic,16,11.0,15.0,Topic,TotaalHuwendeMannen_10,Totaal huwende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
17,Cbs.OData.Topic,17,12.0,15.0,Topic,JongerDan20Jaar_11,Jonger dan 20 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
18,Cbs.OData.Topic,18,13.0,15.0,Topic,k_20Tot25Jaar_12,20 tot 25 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
19,Cbs.OData.Topic,19,14.0,15.0,Topic,k_25Tot30Jaar_13,25 tot 30 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
20,Cbs.OData.Topic,20,15.0,15.0,Topic,k_30Tot35Jaar_14,30 tot 35 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
21,Cbs.OData.Topic,21,16.0,15.0,Topic,k_35Tot40Jaar_15,35 tot 40 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
22,Cbs.OData.Topic,22,17.0,15.0,Topic,k_40Tot45Jaar_16,40 tot 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
23,Cbs.OData.Topic,23,18.0,15.0,Topic,k_45Tot50Jaar_17,45 tot 50 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
24,Cbs.OData.Topic,24,19.0,15.0,Topic,k_50Tot55Jaar_18,50 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
25,Cbs.OData.Topic,25,20.0,15.0,Topic,k_55Tot60Jaar_19,55 tot 60 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
26,Cbs.OData.Topic,26,21.0,15.0,Topic,k_60Tot65Jaar_20,60 tot 65 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
27,Cbs.OData.Topic,27,22.0,15.0,Topic,k_65JaarOfOuder_21,65 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
28,Cbs.OData.TopicGroup,28,NaN,14.0,TopicGroup,,Vrouwen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Cbs.OData.Topic,29,23.0,28.0,Topic,TotaalHuwendeVrouwen_22,Totaal huwende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
30,Cbs.OData.Topic,30,24.0,28.0,Topic,JongerDan20Jaar_23,Jonger dan 20 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
31,Cbs.OData.Topic,31,25.0,28.0,Topic,k_20Tot25Jaar_24,20 tot 25 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
32,Cbs.OData.Topic,32,26.0,28.0,Topic,k_25Tot30Jaar_25,25 tot 30 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
33,Cbs.OData.Topic,33,27.0,28.0,Topic,k_30Tot35Jaar_26,30 tot 35 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
34,Cbs.OData.Topic,34,28.0,28.0,Topic,k_35Tot40Jaar_27,35 tot 40 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
35,Cbs.OData.Topic,35,29.0,28.0,Topic,k_40Tot45Jaar_28,40 tot 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
36,Cbs.OData.Topic,36,30.0,28.0,Topic,k_45Tot50Jaar_29,45 tot 50 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
37,Cbs.OData.Topic,37,31.0,28.0,Topic,k_50Tot55Jaar_30,50 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
38,Cbs.OData.Topic,38,32.0,28.0,Topic,k_55Tot60Jaar_31,55 tot 60 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
39,Cbs.OData.Topic,39,33.0,28.0,Topic,k_60Tot65Jaar_32,60 tot 65 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
40,Cbs.OData.Topic,40,34.0,28.0,Topic,k_65JaarOfOuder_33,65 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
41,Cbs.OData.TopicGroup,41,NaN,9.0,TopicGroup,,Naar geslacht en burgerlijke staat,Huwende personen naar geslacht en burgerlijke ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Cbs.OData.TopicGroup,42,NaN,41.0,TopicGroup,,Mannen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Cbs.OData.Topic,43,35.0,42.0,Topic,TotaalHuwendeMannen_34,Totaal huwende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
44,Cbs.OData.Topic,44,36.0,42.0,Topic,Ongehuwd_35,Ongehuwd,Vanaf 2010: burgerlijke staat die aangeeft dat...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
45,Cbs.OData.Topic,45,37.0,42.0,Topic,Partnerschap_36,Partnerschap,Mannen die hun geregistreerd partnerschap hebb...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
46,Cbs.OData.Topic,46,38.0,42.0,Topic,Verweduwd_37,Verweduwd,Vanaf 2010: verweduwd na wettig huwelijk plus ...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
47,Cbs.OData.Topic,47,39.0,42.0,Topic,Gescheiden_38,Gescheiden,Vanaf 2010: gescheiden na wettig huwelijk plus...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
48,Cbs.OData.TopicGroup,48,NaN,41.0,TopicGroup,,Vrouwen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Cbs.OData.Topic,49,40.0,48.0,Topic,TotaalHuwendeVrouwen_39,Totaal huwende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
50,Cbs.OData.Topic,50,41.0,48.0,Topic,Ongehuwd_40,Ongehuwd,Vanaf 2010: burgerlijke staat die aangeeft dat...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
51,Cbs.OData.Topic,51,42.0,48.0,Topic,Partnerschap_41,Partnerschap,Vrouwen die hun geregistreerd partnerschap heb...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
52,Cbs.OData.Topic,52,43.0,48.0,Topic,Verweduwd_42,Verweduwd,Vanaf 2010: verweduwd na wettig huwelijk plus ...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
53,Cbs.OData.Topic,53,44.0,48.0,Topic,Gescheiden_43,Gescheiden,Vanaf 2010: gescheiden na wettig huwelijk plus...,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
54,Cbs.OData.TopicGroup,54,NaN,NaN,TopicGroup,,Van echt scheidende personen,Van echt scheidende persoon:\r\nPersoon van wi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Cbs.OData.Topic,55,45.0,54.0,Topic,VanEchtScheidendeMannen_44,Van echt scheidende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
56,Cbs.OData.Topic,56,46.0,54.0,Topic,VanEchtScheidendeMannenRelatief_45,"Van echt scheidende mannen, relatief",Van echt scheidende mannen per duizend van het...,NaN,NaN,Double,per 1 000 gehuwde mannen,1.0,Impossible,Relative
57,Cbs.OData.Topic,57,47.0,54.0,Topic,VanEchtScheidendeVrouwen_46,Van echt scheidende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
58,Cbs.OData.Topic,58,48.0,54.0,Topic,VanEchtScheidendeVrouwenRelatief_47,"Van echt scheidende vrouwen, relatief",Van echt scheidende vrouwen per duizend van he...,NaN,NaN,Double,per 1 000 gehuwde vrouwen,1.0,Impossible,Relative
59,Cbs.OData.TopicGroup,59,NaN,54.0,TopicGroup,,Naar geslacht en leeftijd (31 december),Van echt scheidende personen naar geslacht en ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Cbs.OData.TopicGroup,60,NaN,59.0,TopicGroup,,Mannen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Cbs.OData.Topic,61,49.0,60.0,Topic,TotaalVanEchtScheidendeMannen_48,Totaal van echt scheidende mannen,,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
62,Cbs.OData.Topic,62,50.0,60.0,Topic,JongerDan30Jaar_49,Jonger dan 30 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
63,Cbs.OData.Topic,63,51.0,60.0,Topic,k_30Tot35Jaar_50,30 tot 35 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
64,Cbs.OData.Topic,64,52.0,60.0,Topic,k_35Tot40Jaar_51,35 tot 40 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
65,Cbs.OData.Topic,65,53.0,60.0,Topic,k_40Tot45Jaar_52,40 tot 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
66,Cbs.OData.Topic,66,54.0,60.0,Topic,k_45Tot50Jaar_53,45 tot 50 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
67,Cbs.OData.Topic,67,55.0,60.0,Topic,k_50Tot55Jaar_54,50 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
68,Cbs.OData.Topic,68,56.0,60.0,Topic,k_55Tot60Jaar_55,55 tot 60 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
69,Cbs.OData.Topic,69,57.0,60.0,Topic,k_60JaarOfOuder_56,60 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
70,Cbs.OData.TopicGroup,70,NaN,59.0,TopicGroup,,Vrouwen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,Cbs.OData.Topic,71,58.0,70.0,Topic,TotaalVanEchtScheidendeVrouwen_57,Totaal van echt scheidende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
72,Cbs.OData.Topic,72,59.0,70.0,Topic,JongerDan30Jaar_58,Jonger dan 30 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
73,Cbs.OData.Topic,73,60.0,70.0,Topic,k_30Tot35Jaar_59,30 tot 35 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
74,Cbs.OData.Topic,74,61.0,70.0,Topic,k_35Tot40Jaar_60,35 tot 40 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
75,Cbs.OData.Topic,75,62.0,70.0,Topic,k_40Tot45Jaar_61,40 tot 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
76,Cbs.OData.Topic,76,63.0,70.0,Topic,k_45Tot50Jaar_62,45 tot 50 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
77,Cbs.OData.Topic,77,64.0,70.0,Topic,k_50Tot55Jaar_63,50 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
78,Cbs.OData.Topic,78,65.0,70.0,Topic,k_55Tot60Jaar_64,55 tot 60 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
79,Cbs.OData.Topic,79,66.0,70.0,Topic,k_60JaarOfOuder_65,60 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
80,Cbs.OData.TopicGroup,80,NaN,NaN,TopicGroup,,Verweduwende personen,Verweduwende persoon:\r\nPersoon van wie het h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,Cbs.OData.Topic,81,67.0,80.0,Topic,VerweduwendeMannen_66,Verweduwende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
82,Cbs.OData.Topic,82,68.0,80.0,Topic,VerweduwendeMannenRelatief_67,"Verweduwende mannen, relatief",Verweduwde mannen per duizend van het gemiddel...,NaN,NaN,Double,per 1 000 gehuwde mannen,1.0,Impossible,Relative
83,Cbs.OData.Topic,83,69.0,80.0,Topic,VerweduwendeVrouwen_68,Verweduwende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
84,Cbs.OData.Topic,84,70.0,80.0,Topic,VerweduwendeVrouwenRelatief_69,"Verweduwende vrouwen, relatief",Verweduwde vrouwen per duizend van het gemidde...,NaN,NaN,Double,per 1 000 gehuwde vrouwen,1.0,Impossible,Relative
85,Cbs.OData.TopicGroup,85,NaN,80.0,TopicGroup,,Naar geslacht en leeftijd (31 december),Verweduwende personen naar geslacht en leeftij...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,Cbs.OData.TopicGroup,86,NaN,85.0,TopicGroup,,Mannen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,Cbs.OData.Topic,87,71.0,86.0,Topic,TotaalVerweduwendeMannen_70,Totaal verweduwende mannen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
88,Cbs.OData.Topic,88,72.0,86.0,Topic,JongerDan45Jaar_71,Jonger dan 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
89,Cbs.OData.Topic,89,73.0,86.0,Topic,k_45Tot55Jaar_72,45 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
90,Cbs.OData.Topic,90,74.0,86.0,Topic,k_55Tot65Jaar_73,55 tot 65 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
91,Cbs.OData.Topic,91,75.0,86.0,Topic,k_65Tot75Jaar_74,65 tot 75 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
92,Cbs.OData.Topic,92,76.0,86.0,Topic,k_75Tot85Jaar_75,75 tot 85 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
93,Cbs.OData.Topic,93,77.0,86.0,Topic,k_85JaarOfOuder_76,85 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
94,Cbs.OData.TopicGroup,94,NaN,85.0,TopicGroup,,Vrouwen,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,Cbs.OData.Topic,95,78.0,94.0,Topic,TotaalVerweduwendeVrouwen_77,Totaal verweduwende vrouwen,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
96,Cbs.OData.Topic,96,79.0,94.0,Topic,JongerDan45Jaar_78,Jonger dan 45 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
97,Cbs.OData.Topic,97,80.0,94.0,Topic,k_45Tot55Jaar_79,45 tot 55 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
98,Cbs.OData.Topic,98,81.0,94.0,Topic,k_55Tot65Jaar_80,55 tot 65 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
99,Cbs.OData.Topic,99,82.0,94.0,Topic,k_65Tot75Jaar_81,65 tot 75 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
100,Cbs.OData.Topic,100,83.0,94.0,Topic,k_75Tot85Jaar_82,75 tot 85 jaar,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute
101,Cbs.OData.Topic,101,84.0,94.0,Topic,k_85JaarOfOuder_83,85 jaar of ouder,None,NaN,NaN,Long,aantal,0.0,Impossible,Absolute

In [14]:
print(metadata['Description'][11])

Huwende mannen per duizend van het gemiddeld aantal niet gehuwde mannen van 15 jaar of ouder, gestandaardiseerd naar leeftijd.

Standaardisatie:
Bij standaardisatie wordt de invloed van de bevolking naar leeftijd uitgeschakeld. De functie van standaardisatie is het beter vergelijkbaar maken van cijfers tussen de verschillende gemeenten, regio's en Nederland.
De bevolking van Nederland als geheel heeft als standaardbevolking gediend.

Leeftijd:
Het aantal gehele jaren dat op 31 december in het jaar van huwelijkssluiting is verstreken sinds de geboortedatum van de persoon. Te berekenen als jaar van huwelijkssluiting min geboortejaar.

Gemiddeld aantal niet-gehuwde mannen:
De helft van het aantal niet-gehuwde mannen met een bepaald geboortejaar aan het begin van een periode plus de helft van de niet-gehuwde mannen met dat zelfde geboortejaar aan het einde van de periode.

In [49]:
data = pd.DataFrame(cbs.get_data('37890',
                                      select = ['RegioS', 'Perioden',
                                                'TotaalHuwelijkssluitingen_1', 'HuwendeMannenRelatief_7',
                                                'HuwendeVrouwenRelatief_9']))

# Making RegioS and Perioden the index values as in other dataframes

data.index = pd.MultiIndex.from_arrays(data[['RegioS', 'Perioden']].values.T, names=['RegioS', 'Perioden'])
data = data.drop(['RegioS', 'Perioden'], axis=1)

data.to_csv('Marriage.csv')

## Downloading Crime Data

alternatives:
83648NED is current, very detailed crime, also per 1000 people

83223NED is archive, less detailed, but still ok, problem: only has registered cases with at least 1 suspect

In [21]:
metadata = pd.DataFrame(cbs.get_meta('83223NED', 'DataProperties'))
metadata

,odata.type,ID,Position,ParentID,Type,Key,Title,Description,MapYear,ReleasePolicy,Datatype,Unit,Decimals,Default,PresentationType
0,Cbs.OData.Dimension,0,0,None,Dimension,Misdrijven,Misdrijven,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Cbs.OData.GeoDimension,1,1,None,GeoDimension,Regiokenmerken,Regiokenmerken,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Cbs.OData.TimeDimension,2,2,None,TimeDimension,Perioden,Perioden,,NaN,True,NaN,NaN,NaN,NaN,NaN
3,Cbs.OData.Topic,3,3,None,Topic,IngeschrevenRechtbankstrafzaken_1,Ingeschreven rechtbankstrafzaken,Een ingeschreven (rechtbank)strafzaak is een b...,NaN,NaN,Long,NaN,0.0,Zero,Absolute
4,Cbs.OData.Topic,4,4,None,Topic,BeslissingenDoorOpenbaarMinisterie_2,Beslissingen door Openbaar Ministerie,Aantal door het Openbaar Ministerie (OM) genom...,NaN,NaN,Long,NaN,0.0,Zero,Absolute
5,Cbs.OData.Topic,5,5,None,Topic,AfdoeningenDoorDeRechterIn1eAanleg_3,Afdoeningen door de rechter in 1e aanleg,Het totaal van de afdoeningen van rechtbankstr...,NaN,NaN,Long,NaN,0.0,Zero,Absolute

In [22]:
print(metadata['Description'][3])

Een ingeschreven (rechtbank)strafzaak is een bij het parket ingeschreven dossier met het proces-verbaal van aangifte ten aanzien van n verdachte. Als er meer verdachten in een proces-verbaal voorkomen wordt voor iedere verdachte een strafzaak ingeschreven.

In [36]:
# for 83223NED
data = pd.DataFrame(cbs.get_data('83223NED',
                                      select = ['Regiokenmerken', 'Perioden',
                                                'Misdrijven', 'IngeschrevenRechtbankstrafzaken_1']))

In [66]:
# for 83648NED
filters = ["SoortMisdrijf eq 'CRI1000'",
           "SoortMisdrijf eq 'CRI2000'",
           "SoortMisdrijf eq 'CRI3000'",
           "SoortMisdrijf eq 'CRI4000'",
           "SoortMisdrijf eq 'CRI5000'",
           "SoortMisdrijf eq 'CRI6000'",
           "SoortMisdrijf eq 'CRI7000'",
           "SoortMisdrijf eq 'CRI9000'"]

data = pd.DataFrame()
for x in filters:
    data = data.append(pd.DataFrame(cbs.get_data('83648NED',
                                          select = ['RegioS', 'Perioden',
                                                    'GeregistreerdeMisdrijvenPer1000Inw_3', 'SoortMisdrijf'],
                                         filters =  x)))

In [67]:
val = 'GeregistreerdeMisdrijvenPer1000Inw_3'
cat = 'SoortMisdrijf'
reg = 'RegioS'
year = 'Perioden'
data = split_column(data, val, cat, reg, year)

In [68]:
data.to_csv('Crime.csv')

## Downloading Data Number of workers in industries

For number of total workers:
currently in dataset: 83582NED - from 2010 to 2019


addition 1: 70742ned - from 1993 to 2005

addition 2: 81402ned - from 2008 to 2014,

ACTUALLY, use this one: 84419NED
- we now need work volume, not number of jobs

For number of workers in industry at beginning of timeframe: 70090ENG

### Workers in industries

In [15]:
metadata = pd.DataFrame(cbs.get_meta('70090NED', 'RegioS'))
metadata

,Key,Title,Description,CategoryGroupID
0,NL1,Nederland,None,None
1,ExTR,Extra-territoriale regio,"Omvat de territoriale wateren, het Nederlandse...",None
2,LD01,Noord-Nederland,"Omvat de provincies Groningen, Friesland en Dr...",None
3,LD02,Oost-Nederland,"Omvat de provincies Gelderland, Overijssel en ...",None
4,LD03,West-Nederland,"Omvat de provincies Noord-Holland, Zuid-Hollan...",None
...,...,...,...,...
59,R23G,Overig Groot-Amsterdam,Valt onder COROP-gebied Groot-Amsterdam.\r\nI....,None
60,R29A,Rijnmond,Valt onder COROP-gebied Groot-Rijnmond.\r\nI.v...,None
61,R29B,Overig Groot-Rijnmond,Valt onder COROP-gebied Groot-Rijnmond.\r\nI.v...,None
62,R35A,Stadsgewest 's-Hertogenbosch,Valt onder COROP-gebied Noordoost-Noord-Braban...,None
63,R35B,Overig Noordoost-Noord-Brabant,Valt onder COROP-gebied Noordoost-Noord-Braban...,None

In [6]:
print(metadata['Description'][15])

Omvat de volgende COROP-gebieden Zeeuwsch-Vlaanderen en Overig Zeeland.
I.v.m. de geheimhouding is samengenomen:
SBI 28 Metaalproductenindustrie en SBI DK Machine-industrie bij
SBI 27 Basismetaalindustrie.

In [16]:
# Only get data for provinces and corop regions
reglist = [f"RegioS eq '{x}'" for x in metadata.Key.tolist() if x.startswith('PV') or x.startswith('CR') or x.startswith('NL')]

data = pd.DataFrame()
for y in reglist:
    data = data.append(pd.DataFrame(cbs.get_data('70090NED',
                                          select = ['RegioS', 'Perioden','SBI93','Arbeidsvolume_2'],
                                         filters =  y)))
    
# Transform string value in Perioden into int
data['Perioden'] = data['Perioden'].replace(to_replace = ' \w+', value='', regex=True).astype(int)

# Only data from Industry and all industries + only 2008 and 2009
data = data[data['SBI93'].str.contains(r'(^2)|(^D[A-Z])|(Overige)|(Totaal bedrijfsactiviteiten)')]

# Change (pv) to (PV)
data.RegioS = data.RegioS.str.replace('\(pv\)', '(PV)', regex=True)

# Change w/o (PV) to (CR)
data.loc[~data.RegioS.str.startswith('Nederland') & ~data.RegioS.str.endswith('(PV)'),['RegioS']] = data.loc[data.RegioS.str.endswith('(PV)') & ~data.RegioS.str.endswith('(PV)')]['RegioS'] + ' (CR)'

/home/hennes/.local/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [17]:
# Turn dataset wide

val = 'Arbeidsvolume_2'
cat = 'SBI93'
reg = 'RegioS'
year = 'Perioden'
data = split_column(data, val, cat, reg, year)

In [19]:
data = data.rename(columns={'DA Voedings- en genotmiddelen_Arbeidsvolume_2':'labour_food, beverages, tobacco',
                           'DB+DC Textiel en leder_Arbeidsvolume_2':'labour_textile, clothes, leather',
                           '21 Papier en karton_Arbeidsvolume_2':'labour_paper, carton',
                           '22 Uitgeverijen en drukkerijen_Arbeidsvolume_2':'labour_printing, recorded media',
                           'DF Aardolie- en steenkool industrie_Arbeidsvolume_2':'labour_coke_and_refined_petrolium',
                           'DG+DH Chemische, rubber en kunststof ind_Arbeidsvolume_2':'labour_chemicals, chemical products, non-metallic products',
                           '27 Basismetaalindustrie_Arbeidsvolume_2':'labour_basic_metals',
                           '28+DK Metaalproducten en machine ind._Arbeidsvolume_2':'labour_metal_products,_machinery_and_equipment',
                           'DL Elektrotechnische industrie_Arbeidsvolume_2':'labour_electronic_products',
                           'DM Transportmiddelen industrie_Arbeidsvolume_2':'labour_transport_vehicles',
                           'Overige industrie_Arbeidsvolume_2':'labour_other industrial products',
                           'Totaal bedrijfsactiviteiten_Arbeidsvolume_2':'labour_all_industries'})

labour_food, beverages, tobacco --> 'import_food_products', 'import_beverages', 'import_tobacco_products',
labour_textile, clothes, leather --> 'import_textiles', 'import_wearing_apparel', 'import_leather_and_leather-related_products'

labour_paper, carton --> import_paper_and_related_products
labour_printing, recorded media --> import_printing_and_recorded_media
labour_coke_and_refined_petrolium --> import_coke_and_refined_petrolium
labour_chemicals, chemical products, non-metallic products --> 'import_chemicals_and_chemical_products', import_basic_pharmaceutical_products_and_preparations',  'import_rubber_and_plastic_products',

labour_basic_metals --> import_basic_metals
labour_metal_products,_machinery_and_equipment --> 'import_fabricated_metal_products',  'import_machinery_and_equipment'

labour_electronic_products -->  'import_computer_electronic_and_optical_products', 'import_electrical_equipment',
labour_transport_vehicles -->  'import_motor_vehicles_trailers_and_semi-trailers','import_other_transport_equipment'

labour_other industrial products --> import_wood_and_wood_products, 'import_other_non-metallic_products',  'import_furniture', 'import_other'

In [24]:
data.to_csv('Workers.csv')

## Downloading Data for change in Chinese Imports

In [176]:
metadata = pd.DataFrame(cbs.get_meta('83028NED', 'SITC'))
metadata

,Key,Title,Description,CategoryGroupID
0,T001082,Totaal goederen,,None
1,A018524,0 Voeding en levende dieren,,None
2,A018528,1 Dranken en tabak,,None
3,A018540,"2 Grondstoffen, niet eetbaar, behalve...","2 Grondstoffen, niet eetbaar, behalve brandsto...",None
4,A018591,"3 Minerale brandstoffen, smeermiddele...","3 Minerale brandstoffen, smeermiddelen en derg...",None
5,A018612,4 Dierlijke en plantaardige olin en ...,4 Dierlijke en plantaardige olin en vetten,None
6,A018629,5 Chemische producten,,None
7,A018678,6 Fabricaten hoofdzakelijk gerangschi...,6 Fabricaten hoofdzakelijk gerangschikt volgen...,None
8,A018743,7 Machines en vervoermaterieel,,None
9,A018809,8 Diverse gefabriceerde goederen,,None
10,A018851,9 Niet afzonderlijk genoemde goederen,,None

In [110]:
print(metadata['Description'][7])

6 Fabricaten hoofdzakelijk gerangschikt volgens grondstoffen

In [101]:
data = pd.DataFrame(cbs.get_data('83028NED',
                                          select = ['SITC', 'Perioden','Invoerwaarde_1', 'LandenGroepen'],
                                          filters = "LandenGroepen eq 'L008575'"))

data = data[(data['Perioden'].str.match(r'(^\d{4}$)|(^\d{4} $)'))]
data['Perioden'] = data['Perioden'].astype(int)

In [99]:
for x in data[f'SITC'].unique():
            data[f'{x}_Invoerwaarde_1'] = np.where(data[f'SITC'] == x, data[f'Invoerwaarde_1'], None)
data = data.drop([f'Invoerwaarde_1'], axis=1)
data['RegioS'] = 'Nederland'
data = data.groupby(['RegioS', 'Perioden']).agg(max).drop([f'SITC'], axis=1)

In [100]:
data.to_csv('Imports.csv')

## Importing Election data

In [43]:
for file in glob('Elections/*'):
    data = pd.read_csv(file, sep=';')
    data.iloc[:, 10:] = data.iloc[:, 10:].div(data.GeldigeStemmen, axis=0) # transform absolute votes into relative share
    data['RegioS'] = data['RegioNaam']
    year = re.search(r'\d{4}',file).group(0)
    data['Perioden'] = year
    data['turnout'] = data.Opkomst/data.Kiesgerechtigden
    data.set_index(['RegioS', 'Perioden'], inplace=True)
    data = data.iloc[:, 10:]
    results = data.iloc[:, :-3]
    results = results[results.columns[(results>0.05).any()]]
    results['turnout'] = data['turnout']
    results.to_csv(f'election_{year}.csv')

In [44]:
data = pd.read_csv('election_1989.csv')
if 'Democraten 66 (D66)' in data.columns:
    data = data.rename(columns={'Democraten 66 (D66)':'D66'})
if 'Partij van de Arbeid (P.v.d.A.)' in data.columns:
    data = data.rename(columns={'Partij van de Arbeid (P.v.d.A.)':'PvdA'})
if 'Staatkundig Gereformeerde Partij (SGP)' in data.columns:
    data = data.rename(columns={'Staatkundig Gereformeerde Partij (SGP)':'SGP'})
if 'GROENLINKS' in data.columns:
    data = data.rename(columns={'GROENLINKS':'GL'})
for file in glob('*'):
    if (file.startswith('election')) and (file != 'election_1989.csv'):
        df = pd.read_csv(file)
        if 'Democraten 66 (D66)' in df.columns:
            df = df.rename(columns={'Democraten 66 (D66)':'D66'})
        if 'Partij van de Arbeid (P.v.d.A.)' in df.columns:
            df = df.rename(columns={'Partij van de Arbeid (P.v.d.A.)':'PvdA'})
        if 'Staatkundig Gereformeerde Partij (SGP)' in df.columns:
            df = df.rename(columns={'Staatkundig Gereformeerde Partij (SGP)':'SGP'})
        if 'GROENLINKS' in df.columns:
            df = df.rename(columns={'GROENLINKS':'GL'})
        data = data.merge(df, how='outer')

In [45]:
data = data.sort_values(by=['RegioS', 'Perioden']).set_index(['RegioS', 'Perioden'])

In [46]:
data.to_csv('elections.csv')
for file in glob('*'):
    if (file.startswith('election_')):
        os.remove(file)

## Getting Gemeentelijke Indeeling

In [45]:
# I will do it instead with the Table List

In [2]:
import pprint

In [3]:
# Get dictionary with year dataset identifiers and matching year number

tables = [x for x in cbs.get_table_list() if x['Title'].startswith('Gebieden in Nederland')]
table_dict = dict(zip([re.search(r'\d{4}' ,x['Period']).group() for x in tables], [x['Identifier'] for x in tables]))

In [4]:
# Create dict withformat: dataset code: [year, variable name]
dict_combis = {}
for x, y in table_dict.items():
    metadata = pd.DataFrame(cbs.get_meta(y, 'DataProperties'))
    key = metadata[metadata['Description'].str.contains(r'Namen van de (COROP|Corop)-gebieden',
                                                        na=False)].Key.tolist()[0]
    dict_combis.update({x:[y, key]})

/home/hennes/.local/lib/python3.8/site-packages/pandas/core/strings/accessor.py:101: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

In [23]:
# download gemeente NUTS2 translations for every year

df = []
for x, y in dict_combis.items():
    if int(x) > 2002:
        data = pd.DataFrame(cbs.get_data(y[0], select = [y[1], 'RegioS']))
        data['Perioden'] = x
        data.rename(columns={f'{y[1]}': 'nuts2'}, inplace=True)
        df.append(data)
    else:
        data = pd.DataFrame(cbs.get_data(y[0], select = [y[1], 'Gemeenten']))
        data['Perioden'] = x
        data.rename(columns={'Gemeenten':'RegioS', f'{y[1]}': 'nuts2'}, inplace=True)
        df.append(data)
df = pd.concat(df)
df.to_csv('nuts2.csv')